# PIAIC 1st Class

This is our first Python Class on 11MAY19

In [18]:
print(123) # integer

123

In [19]:
print("Hello Salman") # String

Hello Salman

In [20]:
print(False) #Bool either True or False

False

In [7]:
print(123,'hello salman',13.5)

123 hello salman 13.5

In [8]:
print(123,'hello salman',13.5, sep='**')

123**hello salman**13.5

In [11]:
name = 'salman'

In [12]:
id(name)

2660243825192

# Concatenation

In [25]:
x = 200    #integer
y = '2'  #  string
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
z = str(x) + y

In [27]:
print(z)

22

In [28]:
z = x + int(y)

In [29]:
print(z)

202

In [23]:
z = str(x) + y

In [30]:
print(z)

202

In [34]:
z = str(x)+y

In [35]:
print(z)

2002

In [38]:
z = int(x)*int(y)

In [39]:
print(z)

400

In [40]:
z = int(x)-int(y)

In [41]:
print(z)

198

In [47]:
age = 33
name = 'salman'
print('my name is ' + name + ' and my age is ' +  str(age))

my name is salman and my age is 33

In [50]:
age = input('what is your age? ')
name = input('what is you name?')
print('my name is ' + name + ' and my age is ' + str(age))

what is your age? 33
what is you name?Salman
my name is Salman and my age is 33

In [54]:
age = input('what is your age? ')
name = input('what is you name?')
print('my name is {1} and my age is {0}' .format(name,age)) # format me name age array hain

what is your age? 33
what is you name?salman
my name is 33 and my age is salman